/tests export-ignore
/README.md export-ignore
/phpunit.xml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/LICENSE export-ignore
/cli export-ignore
/.env.example export-ignore
